body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.page {
    display: none;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 15px;
}

.page.active {
    display: block;
}

.content h1, .content h2 {
    margin-bottom: 20px;
    color: #6200ea;
}

.content input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1em;
}

.btn {
    background-color: #6200ea;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.btn:hover {
    background-color: #3700b3;
}

.header-image {
    width: 100%;
    max-width: 200px;
    margin-bottom: 20px;
}

.search-bar {
    padding: 10px;
    width: 100%;
    margin: 10px 0;
}

.course-section, .mentor-section {
    text-align: left;
    margin-top: 20px;
}

.course-list, .mentor-list {
    display: flex;
    justify-content: space-between;
}

.course-card, .mentor-card {
    text-align: center;
}

.course-card img {
    width: 80px;
    height: 80px;
}

.course-card:hover {
    cursor: pointer;
}

.mentor-card {
    text-align: center;
}

.mentor-card img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
}

.mentor-card span {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

.code-box {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 20px;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.output-box {
    background-color: #000;
    color: #de0d29;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.outputagain-box {
    background-color: #000;
    color: #0ed035;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.output-box p {
    margin: 0;
}
